# Virtual environments
.venv/
venv/
env/
ENV/

db.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

media/
